:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: var(--violet);
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
header {
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo {
    width: 10rem;
    margin: 2rem 11rem 3rem 2rem;
}
.imgd {
    display: flex;
    justify-content: center;
}
.img {
    width: 20rem;
    min-width: 50%;
}
.text {
    padding: 0 47px 0 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 20px;
}
.text h1 {
    min-width: 20rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.text p {
    min-width: 19rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.text button {
    width: 13rem;
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #684BB1;
    background: #FFFFFF;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.fb, .tw, .ins {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    margin: 64px 0 40px 0;
    border: 0.798301px solid #FFFFFF;
    border-radius: 50%;
}
.fb svg path, .tw svg path, .ins svg path {
    fill: white;
}
.fb svg {
    width: 13px;
    height: 13px;
}
.tw svg, .ins svg {
    width: 13px;
}

@media screen and (min-width: 1440px) {
    body {
        background-image: url("images/bg-desktop.svg");
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    header {
        display: block;
    }
    .logo {
        width: 13rem;
        margin: 64px 500px 104px 80px;
    }
    .img {
        width: 47rem;
        padding-left: 40px;
    }
    .imgd {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .text {
        grid-column: 2/3;
        grid-row: 2/3;
        align-items: flex-start;
        row-gap: 24px;
        margin-top: -10rem;
        width: 50rem;
    }
    .text h1 {
        width: 33rem;
        font-size: 45px;
        line-height: 65px;
        text-align: left;
    }
    .text p {
        width: 32rem;
        font-size: 18px;
        line-height: 28px;
        text-align: left;
    }
    .text button {
        width: 16rem;
        height: 4.3rem;
        font-size: 20px;
        line-height: 28px;
        --violet: hsl(257, 40%, 49%);
        box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
        border-radius: 35px;
    }
    .footer {
        grid-column: 2/3;
        grid-row: 3/3;
        padding-left: 19rem;
        gap: 19px;
    }
    .fb, .tw, .ins {
        width: 50px;
        height: 50px;
        margin: unset;
        border: 0.798301px solid #FFFFFF;
        border-radius: 50%;
    }
    .fb svg {
        width: 23px;
        height: 23px;
    }
    .tw svg, .ins svg {
        width: 23px;
    }
    .text button:hover {
        cursor: pointer;
        color: #FFFFFF;
        background: #E880E8;
    }
    .fb:hover path {
        fill: #FF52C1;
        cursor: pointer;
    }
    .tw:hover path {
        fill: #FF52C1;
        cursor: pointer;
    }
    .ins:hover path {
        fill: #FF52C1;
        cursor: pointer;
    }
    .fb:hover, .ins:hover, .tw:hover {
        cursor: pointer;
        border: 0.798301px solid #FF52C1;
    }
}

